# First Name: Haoyu
# Last Name: Mi ( personal id：7r4ck3r   finish date  14:02  10.29)

In [1]:
import pandas as pd
import numpy as np

In [2]:
nesarc = pd.read_csv('nesarc.csv', low_memory=False)
pd.set_option('display.float_format', lambda x: '%f' % x) # display numbers in standard format instead of scientific notation

In [3]:
nesarc['S2AQ5A'] = pd.to_numeric(nesarc['S2AQ5A'], errors='coerce')
nesarc['S2AQ5B'] = pd.to_numeric(nesarc['S2AQ5B'], errors='coerce')
nesarc['S2AQ5D'] = pd.to_numeric(nesarc['S2AQ5D'], errors='coerce')

# For Beer drinking status (S2AQ5A) fill in nan value with 11 & print first 10 rows

In [4]:
nesarc['S2AQ5A'].fillna(11, inplace=True)
nesarc['S2AQ5A'].head(10)

C:\Users\86137\AppData\Local\Temp\ipykernel_22716\3468020676.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  nesarc['S2AQ5A'].fillna(11, inplace=True)

0   11.000000
1    1.000000
2   11.000000
3   11.000000
4   11.000000
5    2.000000
6    2.000000
7    2.000000
8    1.000000
9    2.000000
Name: S2AQ5A, dtype: float64

# For S2BQ1B1 - Effects of beer drinking (Beer Dependence) in the last 12 months replace 9 (unknown) in S2BQ1B1 (effects of beer consumtion in the last 12 months) to nan
# & print first 10 rows

In [8]:
nesarc['S2BQ1B1'] =nesarc['S2BQ1B1'].replace(9, np.nan)
nesarc['S2AQ5A'].head(10)

0   11.000000
1    1.000000
2   11.000000
3   11.000000
4   11.000000
5    2.000000
6    2.000000
7    2.000000
8    1.000000
9    2.000000
Name: S2AQ5A, dtype: float64

# Recode S2BQ1B1 so that
# 0 is no 
# 1 is yes
# currently 2 is no
# & print first 5 rows

In [72]:
recode = {2: 0, 1: 1} #根据题目要求。重新编码，将 2 替换为 0
nesarc['S2BQ1B1'] = nesarc['S2BQ1B1'].replace(recode)
nesarc['S2BQ1B1'].head(5)

0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
Name: S2BQ1B1, dtype: float64

# Obtain a subset of nesarc data, with the following criteria
# Age from 26 to 50
# Beer drinking status - S2AQ5A = Y

In [12]:
nesarc['AGE'] = pd.to_numeric(nesarc['AGE'])

#subset data to young adults age 26 to 50 who have drink beer in the past 12 months
sub1=nesarc[(nesarc['AGE'] >= 26) & (nesarc['AGE'] <= 50) & (nesarc['S2AQ5A'] == 1)]

# Copy sub 1 to sub 2

In [70]:
sub2 = sub1.copy()
sub2.head()
len(sub2)

10517

# Use sub2 data
# Print the count of HOW OFTEN DRANK BEER IN LAST 12 MONTHS (S2AQ5B)

In [21]:
c_beer_feq = sub2['S2AQ5B'].value_counts(sort=False, dropna=False)
print('counts for original S2AQ5B')
print(c_beer_feq)

counts for original S2AQ5B
S2AQ5B
10.000000    1270
9.000000     1226
7.000000     1229
6.000000     1579
4.000000     1310
8.000000      682
5.000000     1485
2.000000      369
1.000000      417
3.000000      925
99.000000      25
Name: count, dtype: int64

# Based on my research, I'm assuming that drinking less than once a month is not going to affect a person. So, we are going replace the following in 'HOW OFTEN DRANK BEER IN LAST 12 MONTHS (S2AQ5B)' to nan
# 8
# 9
# 10
# 99

In [23]:
sub2['S2AQ5B']= sub2['S2AQ5B'].replace(8, np.nan)   #把要求的都替换为nan
sub2['S2AQ5B']= sub2['S2AQ5B'].replace(9, np.nan)
sub2['S2AQ5B']= sub2['S2AQ5B'].replace(10, np.nan)
sub2['S2AQ5B']= sub2['S2AQ5B'].replace(99, np.nan)

# Use sub2 data
# Print the count of HOW OFTEN DRANK BEER IN LAST 12 MONTHS (S2AQ5B) with 8, 9, 10 and 99 set nan

In [26]:
c_beer_feq_nan = sub2['S2AQ5B'].value_counts(dropna=True) # 计算 S2AQ5B 列中的值计数（排除 NaN）
print('counts for original S2AQ5B with 8, 9, 10 and 99 set to NAN ')
print(c_beer_feq_nan)

counts for original S2AQ5B with 8, 9, 10 and 99 set to NAN
S2AQ5B
6.000000    1579
5.000000    1485
4.000000    1310
7.000000    1229
3.000000     925
1.000000     417
2.000000     369
Name: count, dtype: int64

# Use sub2 data
# Count the NUMBER OF BEERS USUALLY CONSUMED ON DAYS WHEN DRANK BEER IN LAST 12 MONTHS (S2AQ5D)

In [69]:
c_beer_quan = sub2['S2AQ5D'].value_counts(dropna=True,sort=False).sort_index() # 存储了 S2AQ5D 列中每个值的计数，并按数值从小到大排序
print('counts for S2AQ5D') 
print(c_beer_quan)

counts for S2AQ5D
S2AQ5D
1.000000     3625
2.000000     3087
3.000000     1619
4.000000      749
5.000000      278
6.000000      702
7.000000       57
8.000000      106
9.000000       19
10.000000      53
11.000000       1
12.000000     150
13.000000       1
14.000000       3
15.000000       7
17.000000       1
18.000000      12
20.000000       3
24.000000      12
30.000000       1
Name: count, dtype: int64

# Use sub2
# Replace the 99  in 'NUMBER OF BEERS USUALLY CONSUMED ON DAYS WHEN DRANK BEER IN LAST 12 MONTHS (S2AQ5D)' to nan

In [32]:
sub2['S2AQ5D'] = sub2['S2AQ5D'].replace(99, np.nan)

# Print the count of 'NUMBER OF BEERS USUALLY CONSUMED ON DAYS WHEN DRANK BEER IN LAST 12 MONTHS (S2AQ5D)'- with 99 set to NAN

In [34]:
c_beer_quan_nan = sub2['S2AQ5D'].value_counts(sort=False,dropna=True).sort_index()
print('counts for S2AQ5D with 99 set to NAN')
print(c_beer_quan_nan)

counts for S2AQ5D with 99 set to NAN
S2AQ5D
1.000000     3625
2.000000     3087
3.000000     1619
4.000000      749
5.000000      278
6.000000      702
7.000000       57
8.000000      106
9.000000       19
10.000000      53
11.000000       1
12.000000     150
13.000000       1
14.000000       3
15.000000       7
17.000000       1
18.000000      12
20.000000       3
24.000000      12
30.000000       1
Name: count, dtype: int64

# Use sub2
# Recode HOW OFTEN DRANK BEER IN LAST 12 MONTHS (S2AQ5B) 
# as following

# 1 to 7
# 2 to 6
# 3 to 5
# 5 to 3
# 6 to 2 
# 7 to 1

# so that larger categorical numbers indicate more frequently someone drinks beer

# print the count for BEER-FEQ

In [36]:
recode1 = {1:7,2:6,3:5,5:3,6:2,7:1} #recoding so that higher numbers mean more smoking frequency
sub2['BEER_FEQ'] = sub2['S2AQ5B'].map(recode1) #map() 函数将 sub2['S2AQ5B'] 列的值根据 recode1 字典进行映射

recode_beer_feq = sub2['BEER_FEQ'].value_counts(sort=False) #get count in each category
print('counts for S2AQ5B')
print(recode_beer_feq)

counts for S2AQ5B
BEER_FEQ
1.000000    1229
2.000000    1579
3.000000    1485
6.000000     369
7.000000     417
5.000000     925
Name: count, dtype: int64

# Use sub 2
# Recode HOW OFTEN DRANK BEER IN LAST 12 MONTHS (S2AQ5B) 
# as following

# 1 to 30
# 2 to 26
# 3 to 14
# 4 to 8
# 5 to 4
# 6 to 2.5 
# 7 to 1

# so that larger categorical numbers indicate more frequently someone drinks beer

# print count of BEER_REQMO

In [68]:
#recoding values for S2AQ5B into a new variable, BEER_FEQMO
recode2 = {1:30,2:26,3:14,4:8,5:4,6:2.5,7:1}#recode to quantitative variable
sub2['BEER_FEQMO'] = sub2['S2AQ5B'].map(recode1) 

recode_beer_feq_m = sub2['BEER_FEQMO'].value_counts(sort=False) #get count in each category ；(sort=False为不把数值降序排列)
print('counts for BEER_FEQMO')
print(recode_beer_feq_m)

counts for BEER_FEQMO
BEER_FEQMO
1.000000    1229
2.000000    1579
3.000000    1485
6.000000     369
7.000000     417
5.000000     925
Name: count, dtype: int64

# Use sub2
# Create secondary variable NUMBEERMO_EST
# NUMBEERMO_EST = BEER_FEQMO * S2AQ5D

In [66]:
sub2['NUMBEERMO_EST']= sub2['BEER_FEQMO'] * sub2['S2AQ5D'] #get the number of beers consumed  per month
sub2['NUMBEERMO_EST'].head()

1         NaN
8         NaN
12   4.000000
16        NaN
24        NaN
Name: NUMBEERMO_EST, dtype: float64

# print the count for age

In [55]:
#examining frequency distributions for age
c_age = sub2['AGE'].value_counts(sort=False)
print('counts for AGE')
print(c_age)

counts for AGE
AGE
28    347
29    407
31    453
38    504
36    464
44    381
32    502
42    463
33    423
39    464
40    497
34    462
45    434
26    325
41    445
48    377
43    398
50    325
35    416
49    331
37    498
46    396
27    397
30    443
47    365
Name: count, dtype: int64

# use sub2
# print percentag for age

In [57]:
p_age = sub2['AGE'].value_counts(sort=False, normalize=True) * 100 #小数转换为百分比                   
print('percentages for AGE')
print(p_age)

percentages for AGE
AGE
28   0.032994
29   0.038699
31   0.043073
38   0.047922
36   0.044119
44   0.036227
32   0.047732
42   0.044024
33   0.040221
39   0.044119
40   0.047257
34   0.043929
45   0.041267
26   0.030902
41   0.042312
48   0.035847
43   0.037843
50   0.030902
35   0.039555
49   0.031473
37   0.047352
46   0.037653
27   0.037748
30   0.042122
47   0.034706
Name: proportion, dtype: float64

# Group age into 3 groups
# 26 - 33
# 34 - 41
# 42 - 50

In [67]:
# splits into 3 groups (26-50) - remember that Python starts counting from 0, not 1
sub2['AGEGROUP3'] = pd.cut(sub2['AGE'], [25, 33, 41, 50]) #设置分组的边界，pd.cut() 会将 AGE 列中的值根据这些边界进行分组。这里需要注意，25 是为了确保 26 被包括在内。

# print the count of this new group

In [59]:
c_age_group = sub2['AGEGROUP3'].value_counts(sort=False, dropna=True)
print('counts for AGEGROUP3')
print(c_age_group)

counts for AGEGROUP3
AGEGROUP3
(25, 33]    3297
(33, 41]    3750
(41, 50]    3470
Name: count, dtype: int64

# print the percentage of this new group

In [60]:
print('percentages for AGEGROUP3')
p_age_group = sub2['AGEGROUP3'].value_counts(sort=False, normalize=True) * 100
print(p_age_group)

percentages for AGEGROUP3
AGEGROUP3
(25, 33]   31.349244
(33, 41]   35.656556
(41, 50]   32.994200
Name: proportion, dtype: float64

# Print the crosstab between AGEGROUP3 and AGE

In [62]:
#crosstabs evaluating which ages were put into which AGEGROUP3
# 创建交叉表，评估每个年龄组包含哪些年龄
age_group_crosstab = pd.crosstab(sub2['AGEGROUP3'], sub2['AGE'])

# 打印交叉表
print(age_group_crosstab)

AGE         26   27   28   29   30   31   32   33   34   35  ...   41   42  \
AGEGROUP3                                                    ...
(25, 33]   325  397  347  407  443  453  502  423    0    0  ...    0    0
(33, 41]     0    0    0    0    0    0    0    0  462  416  ...  445    0
(41, 50]     0    0    0    0    0    0    0    0    0    0  ...    0  463

AGE         43   44   45   46   47   48   49   50
AGEGROUP3
(25, 33]     0    0    0    0    0    0    0    0
(33, 41]     0    0    0    0    0    0    0    0
(41, 50]   398  381  434  396  365  377  331  325

[3 rows x 25 columns]